 <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" id="header-logo" href="#">Fly'n'Ride</a>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="intro col-sm-6">
          <h3>Share a ride.<br>
            Save money.<br>
            Meet new people.
          </h3>
          <p class="leadtext">Easily and safely pair up with a fellow traveler on your flight to share a ride and discover new experiences.</p>
        </div>
        <div class="col-sm-6" id="homeform">
          <form id="broadcast" role="form">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  
            <div class="form-group">
              <label for="phoneno">Enter your phone number to start:</label>
              <input type="text" class="form-control" id="phoneno" name="phone_num" placeholder="Phone Number" required>
            </div>
            <button id="broadcastButton" type="submit" class="btn">Send me the code</button>
          </form>  

          <form id="confirm" role="form" action="<%= session_url %>" method="post" class="hidden">
             <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

            <div class="form-group" id="verify-code">
              <label for="phoneno">Enter the verification code:</label>
              <input type="text" class="form-control" id="code" name="confirmCode" placeholder="And you're good to go!" required>
            </div>
            <input name="phone_num" type="hidden" id="confirm_phone_num">
            <button id="broadcastButton" type="submit" class="btn add-bottom">Verify</button>

          </form>
        </div>
      </div>
    </div>


<script>
  $("#broadcast").on("submit", function (event) {
      event.preventDefault();
			$("#broadcastButton").html("Confirmation Code Sending...");
			$("#broadcastButton").attr("disabled", "disabled");
			$("#confirm_phone_num").val($("#phoneno").val());
			$("#confirm").toggleClass("hidden");
      var formData = $(this).serialize();
      $.ajax({
        url: "/sessions/broadcast",
        type: "POST",
        data: formData,
        success: function () {
          console.log("submited!!!");
        }
      });
    }
  );
</script>