<nav class="navbar navbar-default" role="navigation">
  <h1>Matches</h1>
  <span>Account</span>
</nav>
<div class="container">
  <div>
    Matched riders are sorted by proximity of final destination. Start messaging now and save some cab money!
    <span>Fees may apply based on cellphone carriers.</span>
  </div>
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">Rider A</div>
      <div class="panel-body">
        <address>Abc St. &#038; Def St., City Name, ST 123456</address>
      </div>
      <div class="panel-footer"><button class="btn btn-primary">Message!</button></div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Rider B</div>
      <div class="panel-body">
        <address>Abc St. &#038; Def St., City Name, ST 123456</address>
      </div>
      <div class="panel-footer"><button class="btn btn-primary">Message!</button></div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Rider C</div>
      <div class="panel-body">
        <address>Abc St. &#038; Def St., City Name, ST 123456</address>
      </div>
      <div class="panel-footer"><button class="btn btn-primary">Message!</button></div>
    </div>
  </div>
</div>